body{
  margin: 0;

}
.sect{
  width: 100%;
  height: 200px;
}
.top{
  background-color: #d4d0d0;
  height: 150px;
  box-sizing: border-box;
  padding: 20px 30px;
}
.top #box{
  height: 100px;
  width: 100px;
  background-color: #0a9ad4;
}
.text{
  height: 400px;
  background-color: #fff;
  box-sizing: border-box;
  display: table;
}
.text p{
  text-align: left;
  vertical-align: middle;
  display: table-cell;
  padding: 10px 60px;
  font-size: 35px;
  line-height: 50px;
  font-family: sans-serif;
  color: #5a5a5a;
}
#blue{
  background-color: #0a9ad4;
}
#torq{
  background-color: #46f5e6;
}
#green{
  background-color: #7efbbc;
}
#yellow{
  background-color: rgba(249, 255, 0, 0.64);
}
